<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <title>{{title}}</title>

    <link href="/public/css/bootstrap.css" rel="stylesheet">

    
    <link href="/public/css/cover.css" rel="stylesheet">
</head>

<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Newsletter</h3>
                <br>
                <nav  class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/">Home</a>
                    <a class="nav-link" href="/about">About</a>
                    <a class="nav-link" href="/contact">Contact</a>
                </nav>
            </div>
        </header>

        {{{body}}}

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>By gogo</p>
            </div>
        </footer>
    </div>


    
</body>

</html>